<section class="hero">

    <img src="/assets/images/logo.webp" alt="Bola de Neve Fazenda Rio Grande">

    <h1>{{ site.data.igreja.nome }}</h1>
    <h3>{{ site.data.igreja.cidade }}</h3>
    <p>{{ site.data.igreja.slogan }}</p>
    <p>
        📍 Av. Brasil, 2939 - 1º andar - Nações
    </p>
    <!-- <a class="hero-button" href="/primeira-visita">
        Quero Visitar
    </a> -->
    <a class="hero-button"
        href="https://www.google.com/maps/dir//Bola+de+Neve+Fazenda+Rio+Grande+-+Av.+Brasil,+2939+-+Na%C3%A7%C3%B5es,+Fazenda+Rio+Grande+-+PR,+83823-034/@-25.6574279,-49.3103187,17z/data=!4m17!1m7!3m6!1s0x94dcff004cde0357:0x3733cd0beb3bf4ac!2sBola+de+Neve+Fazenda+Rio+Grande!8m2!3d-25.6574328!4d-49.3077438!16s%2Fg%2F11xd9mf8bn!4m8!1m0!1m5!1m1!1s0x94dcff004cde0357:0x3733cd0beb3bf4ac!2m2!1d-49.3078015!2d-25.6574243!3e0?entry=ttu&g_ep=EgoyMDI2MDYyMS4wIKXMDSoASAFQAw%3D%3D">
        Como chegar?
    </a>
</section>