<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }} | {{ site.title }}</title>

    <link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">


</head>

<body>

    <!-- {% include header.html %} -->

    <main>
        {{ content }}
    </main>

    {% include footer.html %}

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="{{ '/assets/js/mapa.js' | relative_url }}"></script>

</body>

</html>